USE [master]
GO
/****** Object:  Database [QLCtyDuLich]    Script Date: 10/10/2026 12:27:37 AM ******/
CREATE DATABASE [QLCtyDuLich]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLCtyDuLich', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCtyDuLich.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLCtyDuLich_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\QLCtyDuLich_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLCtyDuLich].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLCtyDuLich]
GO
/****** Object:  Table [dbo].[ChuyenDiLe]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChuyenDiLe](
	[chuyenID] [varchar](20) NOT NULL,
	[tourID] [varchar](20) NOT NULL,
	[departureDate] [date] NOT NULL,
	[availableSlots] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[chuyenID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[userID] [varchar](20) NOT NULL,
	[identityCard] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[identityCard] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DanhSachBaoHiem]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DanhSachBaoHiem](
	[danhSachID] [varchar](20) NOT NULL,
	[phieuID] [varchar](20) NOT NULL,
	[memberName] [nvarchar](100) NOT NULL,
	[insuranceCode] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[danhSachID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanCongHDV]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanCongHDV](
	[phanCongID] [varchar](20) NOT NULL,
	[staffID] [varchar](20) NOT NULL,
	[assignedDate] [date] NOT NULL,
	[chuyenID] [varchar](20) NULL,
	[phieuID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[phanCongID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuDangKyDoan]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuDangKyDoan](
	[phieuID] [varchar](20) NOT NULL,
	[customerID] [varchar](20) NOT NULL,
	[tourID] [varchar](20) NOT NULL,
	[staffID] [varchar](20) NOT NULL,
	[departureDateReq] [date] NOT NULL,
	[groupSize] [int] NOT NULL,
	[depositAmount] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[phieuID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuKhaoSat]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuKhaoSat](
	[khaoSatID] [varchar](20) NOT NULL,
	[customerID] [varchar](20) NOT NULL,
	[tourID] [varchar](20) NOT NULL,
	[ratingScore] [int] NOT NULL,
	[comment] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[khaoSatID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[userID] [varchar](20) NOT NULL,
	[position] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[tourID] [varchar](20) NOT NULL,
	[tourName] [nvarchar](150) NOT NULL,
	[standardPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[tourID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[userID] [varchar](20) NOT NULL,
	[username] [varchar](50) NOT NULL,
	[passwordHash] [varchar](255) NOT NULL,
	[fullName] [nvarchar](100) NOT NULL,
	[role] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VeTourLe]    Script Date: 10/10/2026 12:27:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VeTourLe](
	[veID] [varchar](20) NOT NULL,
	[customerID] [varchar](20) NOT NULL,
	[chuyenID] [varchar](20) NOT NULL,
	[staffID] [varchar](20) NOT NULL,
	[pickupPoint] [nvarchar](200) NOT NULL,
	[totalPrice] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[veID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ChuyenDiLe]  WITH CHECK ADD FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DanhSachBaoHiem]  WITH CHECK ADD FOREIGN KEY([phieuID])
REFERENCES [dbo].[PhieuDangKyDoan] ([phieuID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PhanCongHDV]  WITH CHECK ADD FOREIGN KEY([chuyenID])
REFERENCES [dbo].[ChuyenDiLe] ([chuyenID])
GO
ALTER TABLE [dbo].[PhanCongHDV]  WITH CHECK ADD FOREIGN KEY([phieuID])
REFERENCES [dbo].[PhieuDangKyDoan] ([phieuID])
GO
ALTER TABLE [dbo].[PhanCongHDV]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff] ([userID])
GO
ALTER TABLE [dbo].[PhieuDangKyDoan]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([userID])
GO
ALTER TABLE [dbo].[PhieuDangKyDoan]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff] ([userID])
GO
ALTER TABLE [dbo].[PhieuDangKyDoan]  WITH CHECK ADD FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[PhieuKhaoSat]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([userID])
GO
ALTER TABLE [dbo].[PhieuKhaoSat]  WITH CHECK ADD FOREIGN KEY([tourID])
REFERENCES [dbo].[Tour] ([tourID])
GO
ALTER TABLE [dbo].[Staff]  WITH CHECK ADD FOREIGN KEY([userID])
REFERENCES [dbo].[User] ([userID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[VeTourLe]  WITH CHECK ADD FOREIGN KEY([chuyenID])
REFERENCES [dbo].[ChuyenDiLe] ([chuyenID])
GO
ALTER TABLE [dbo].[VeTourLe]  WITH CHECK ADD FOREIGN KEY([customerID])
REFERENCES [dbo].[Customer] ([userID])
GO
ALTER TABLE [dbo].[VeTourLe]  WITH CHECK ADD FOREIGN KEY([staffID])
REFERENCES [dbo].[Staff] ([userID])
GO
ALTER TABLE [dbo].[ChuyenDiLe]  WITH CHECK ADD CHECK  (([availableSlots]>=(0)))
GO
ALTER TABLE [dbo].[PhieuDangKyDoan]  WITH CHECK ADD CHECK  (([groupSize]>=(12)))
GO
ALTER TABLE [dbo].[PhieuKhaoSat]  WITH CHECK ADD CHECK  (([ratingScore]>=(1) AND [ratingScore]<=(5)))
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD CHECK  (([role]='Admin' OR [role]='Staff' OR [role]='Customer'))
GO
USE [master]
GO
